@using MvcPL.Infrastructure.Helpers
@using MvcPL.Models
@model FileViewModel
@{

    Layout = null;
    var options = new AjaxOptions()
    {
        Url = Url.Action("SetRating", new { id = Model.Id }),
        HttpMethod = "POST",
        UpdateTargetId = "update",
        LoadingElementId = "progress",
        LoadingElementDuration = 1000
    };
    HttpCookie voteCookie = Request.Cookies["Votes"];
}

<div id="update">
    <h2 class="text-center">@Model.FileName</h2>
    <div class="row">
        <div class="col-lg-2 col-mg-2 col-sm-2 col-xs-2 text-center">
            <img src="~/Content/images/icon1.png" width="48" height="48" alt="FileType img" />
            <h6>added</h6>
            <h6>@Model.CreationTime.ToShortDateString()</h6>
        </div>
        <div class="col-lg-9 col-mg-9 col-sm-9 col-xs-9 left">
            <p>@Model.Description</p>
        </div>
    </div>
    @if (ViewBag.Title != "Delete")
    {
        <div class="row">
            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 text-center">

                @Model.Rating rating

                @if (User.Identity.IsAuthenticated)
                {
                    if (voteCookie != null && voteCookie[Model.Id.ToString()] != null)
                    {
                        <p class="small">Sorry, You are already voted</p>}
                    else
                    {
                        using (Ajax.BeginForm(options))
                        {
                            <button type="submit" name="submit" value="like" class="btn btn-success btn-xs">Like</button>
                            <button type="submit" name="submit" value="dislike" class="btn btn-danger btn-xs">Dislike</button>
                            <div id="progress" style="display: none">
                                <p class="small">Wait..</p>
                            </div>
                        }
                    }

                    <ul class="list-inline">
                        @if (!Model.FileType.Contains("text"))
                        {
                            <li class="text-i"><a href="javascript:toggle('1')">+Click to View</a></li>
                        }
                        else
                        {
                            <li class="text-w">@Html.ActionLink("+Click to View", "DownloadBytes", new { @Model.Id })</li>
                        }
                        <li class="text-w">@Html.ActionLink("Edit", "Edit", new {@Model.Id})</li>
                        <li class="text-d">@Html.ActionLink("Delete", "Delete", new {@Model.Id})</li>
                        <li class="text-w">@Html.ActionLink("Download", "DownloadFile", new {@Model.Id})</li>
                    </ul>
                }
            </div>
            <div class="col-lg-12 col-mg-12 col-sm-12 col-xs-12 text-center">
                <div id="toggle_1" style="display: none">
                    @*@if (Model.FileType.Contains("text"))
                    {
                        Html.Action("DownloadBytes", "File", new{id = Model.Id});
                    }*@
                    @if (Model.FileType.Contains("audio"))
                    {
                        <audio controls>
                            <source src="/Uploads/@Model.Path" type=@Model.FileType>
                        </audio>
                    }
                    @if (Model.FileType.Contains("video"))
                    {
                        <video controls>
                            <source src="/Uploads/@Model.Path" type=@Model.FileType>
                            Your browser does not support the video tag.
                        </video>
                    }

                </div>

            </div>
        </div>
        <hr />
    }

</div>



<script type="text/javascript">
    function toggle(num) {
        obj = document.getElementById("toggle_" + num);
        if (obj.style.display == "none") {
            obj.style.display = "block";
        } else {
            obj.style.display = "none";

        }
    }
</script>
