<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/pagecss")*@

    @*@Scripts.Render("~/bundles/jquerybg")*@
    
</head>

<body>
<header>
    <div class="container">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 left">
                @Html.MvcSiteMap().SiteMapPath()
            </div>
            <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 right">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        @RenderBody()
    </div>
</section>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/scripts")
@RenderSection("scripts", required: false)
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

<footer>
    <div class="container">
        <p>Ann Zanevskaya</p>
    </div>
</footer>
</body>
</html>
