@model PagedList.IPagedList<MvcPL.Models.FileViewModel>
@using PagedList.Mvc;

@{
    List<SelectListItem> sotrItems = new List<SelectListItem>();
    sotrItems.Add(new SelectListItem { Text = "Newest", Value = "0" });
    sotrItems.Add(new SelectListItem { Text = "Title", Value = "1" });
    sotrItems.Add(new SelectListItem { Text = "Most Liked", Value = "2" });

    List<SelectListItem> filterItems = new List<SelectListItem>();
    filterItems.Add(new SelectListItem { Text = "All", Value = "0", Selected = true });
    filterItems.Add(new SelectListItem { Text = "Text", Value = "1" });
    filterItems.Add(new SelectListItem { Text = "Audio", Value = "2" });
    filterItems.Add(new SelectListItem { Text = "Video", Value = "3" });
    var options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("Index"),
        HttpMethod = "GET"
    };
}
<div id="tabledata">
    <div class="row">
        <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 left">
            @*@using (Html.BeginForm("Index", "File"))*@
            @using (Ajax.BeginForm(options))
            {
                <div class="col-xs-5">
                    <input type="text" class="form-control input-sm" placeholder="search" formmethod="post" name="search" value=@ViewBag.Search>
                </div>
                <input class="btn btn-default btn-sm " type="submit" value="search">
            }
        </div>

        <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 right">
            @using (Ajax.BeginForm(new AjaxOptions()
        {
            UpdateTargetId = "tabledata",
            Url = Url.Action("Index", "File", new { filter = (string)ViewBag.Filter, search = (string)ViewBag.Search }),
            HttpMethod = "GET"
        }))
            //using (Html.BeginForm("Index", "File", new {filter = (string) ViewBag.Filter, search = (string) ViewBag.Search}))
            {

                <div class="col-xs-8 form-inline" style="float: right">
                    <p style="float: right">
                        Sort By:
                        <select class="form-control input-sm" name="sort">

                            @foreach (var item in sotrItems)
                            {
                                if (ViewBag.Sort == item.Value)
                                {
                                    <option value=@item.Value selected="selected">
                                        @item.Text
                                    </option>
                                }
                                else
                                {
                                    <option value=@item.Value>
                                        @item.Text
                                    </option>}
                            }
                        </select>
                        <input class="btn btn-default btn-sm " type="submit" value="Ok">
                    </p>
                </div>
            }
        </div>
    </div>
    <hr />
    @*<div class="clear"></div>*@

    <div class="row">
        <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 left">
            @using (Ajax.BeginForm(options))
            //using (Html.BeginForm("Index", "File"))
            {
                <div class="col-xs-8 form-inline">
                    <p>
                        Display:
                        <select class="form-control input-sm" name="filter">

                            @foreach (var item in filterItems)
                            {
                                if (ViewBag.Filter == item.Value)
                                {
                                    <option value=@item.Value selected="selected">
                                        @item.Text
                                    </option>
                                }
                                else
                                {
                                    <option value=@item.Value>
                                        @item.Text
                                    </option>
                                }
                            }
                        </select>
                        <input class="btn btn-default btn-sm mrg" type="submit" value="Ok">
                    </p>
                </div>
            }
        </div>
        @if (User.IsInRole("User") || User.IsInRole("Administrator"))
        {
            <div class="col-lg-6 col-mg-6 col-sm-6 col-xs-6 right">
                @using (Html.BeginForm("Upload", "File"))
                {
                    <input class="btn btn-primary btn-sm right" type="submit" value="Add New Files | + " style="float:right" formmethod="get">
                }
            </div>
        }
    </div>


    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col-lg-2 col-mg-2 col-sm-2 col-xs-2 text-center">
                <img src="~/Content/images/icon1.png" width="48" height="48" alt="FileType img" style="margin-top: 22px;" />
                <h6>added</h6>
                <h6>@item.CreationTime.ToShortDateString()</h6>
            </div>
            <div class="col-lg-7 col-mg-7 col-sm-7 col-xs-7 left overflow">
                <h3>@Html.ActionLink(@item.FileName, "Content", new { @item.Id })</h3>
                <p>@Html.DisplayTextFor(modelItem => item.Description)</p>
            </div>
            <div class="col-lg-3 col-mg-3 col-sm-3 col-xs-3 left" style="margin-top:40px">
                @if (User.IsInRole("Administrator"))
                {
                    <ul class="list-inline">
                        <li class="text-i">@Html.ActionLink("Details", "Content", new { @item.Id })</li>
                        <li class="text-w">@Html.ActionLink("Edit", "Edit", new { @item.Id })</li>
                        <li class="text-d">@Html.ActionLink("Delete", "Delete", new { @item.Id })</li>
                    </ul>
                }
            </div>
        </div>
    }
</div>